{% extends 'base.html' %}

{% block content %}
   <h2>This is not a pyramid scheme. <br>All you need to do to get rich is Sign up</h2>
<div class="container">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}

        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
<style scoped>
    body{
        background: black;
        color: white;
    }
    .container{
        top: 50vh;
        transform: translateY(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

</style>
{% endblock %}

