
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style scoped>
    body{
        overflow: hidden;
    }
    .wrap{
        position: fixed;
        height: 100vh;
        width: 100vw;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 10;
    }
    h1{

        font-size: 5em;
    }
    a{
        cursor: pointer;
    }
    #particles-js{
        z-index: -1;
    }
    button{
        height: 50px;
        width: 200px;
        background: none;
        color: white;
        border-radius: 10px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 30px;
    }
    #buttons{
        display: none;
        transiton: fadeIn;
        transtion-duration: 2s;
    }
    .comments{
        width: 100vw;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;

        flex-direction: row;

    }
    img{
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
</style>

<div id="particles-js">
    <section class="wrap">
        <h1>Welcome to the future of e-sports betting</h1>
        <button id="cta" onclick='showBtn()'>Lets Go!</button>
        <div id="buttons">
            <a href="/signup"><button>Sign Up</button></a>
            <a href="/login"> <button>Login</button></a>
        </div>
    </section>

    <section class="comments">
        <img src="{% static 'img/nyt.png' %}" alt="">
        <img src="{% static 'img/wsj.png' %}" alt="">
        <img src="{% static 'img/time.png' %}" alt="">
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>particlesJS.load('particles-js', '{% static 'js/particles.json' %}');</script>
<script>
    
    function showBtn(){
        let btn = document.getElementById('cta'),
        buttons = document.getElementById('buttons');

        btn.setAttribute("style","display: none");
        buttons.setAttribute("style","display: inline");
    }

</script>
{% endblock %}
