@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: black;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
button{
    height: 50px;
    width: 200px;
    background: none;
    color: white;
    border-radius: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}